<html>
<center>Nationwide Building Society 
        <br>
        <u>Login below</u>
        <br>
        <br>
<form action="submit-isaac" method = "POST" >
    Username:<br>
    <input type="text" name="Username" placeholder ="Enter username">
    <br>
    Password:<br>
    <input type="text" name="Password" placeholder ="*****">
    <br><br>
    <input type="submit" value="Login"> <a href="/">Back</a>
  </form> 
</center>

</html>