<html>
<center>Nationwide Building Society 
    <br>
  <u>Sign-up below</u>
        <br>
        <br>
        <form action="signup-isaac" method = "POST" >
    Username:<br>
    <input type="text" name="Username" placeholder ="Enter username">
    <br>
    Password:<br>
    <input type="text" name="Password" placeholder ="Enter password">
    <br>
    Name:<br>
    <input type="text" name="Name" placeholder ="Enter name">
    <br>
    Role:<br>
    <!-- <input type="text" name="Role" value="3"> -->
    <select name="Role">
        <option  value="1">Admin</option>
        <option  value="2">User</option>
      </select>
    <br>
    <br>
     <!-- <a href="/Admin">Admin user</a> -->
     <!-- <br> -->
    <input type="submit" value="Submit"> <a href="/">Back</a>
    
  </form> 
</center>
</html>