.horizontal-row{
    max-width: 40vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 440px;
    position: relative;
}

.page-links{
    font-size: large;
    /* text-align: center;  */
    margin: 10px;
    /* position: relative; */
    top: 35vh;

}
